h3.main-title {
  margin: 20px auto;
  text-transform: uppercase;
}

.build-container {
  padding-bottom: 500px;
}
#main-table {
  tbody tr td:last-of-type {
    width: 40px !important;
    min-width: 40px;
    vertical-align: middle;
  }

  a.add-col,
  a.add-row {
    font-size: 18px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;

    &:active,
    &:hover,
    &:active:focus {
      text-decoration: none;
    }

  }
  a.add-row {
    display: inline-block;
    width: 20%;
    padding: 15px;
  }
}
a.add-row {
  padding: 15px 22px;
  border-radius: 50%;
}
.impex-output {
  height: 300px;
  position: fixed;
  bottom: 50px;
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow-y: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
}
