h3.main-title {
  margin: 20px auto;
  text-transform: uppercase;
}

#main-table {
  tbody tr td:last-of-type {
    width: 40px !important;
    min-width: 40px;
    vertical-align: middle;
  }

  a.add-col,
  a.add-row {
    font-size: 18px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;

    &:active,
    &:hover,
    &:active:focus {
      text-decoration: none;
    }
  }
}
