::selection {
  color: #fff;
  background: #a9a9a9;
}
body {
  font-family: Playfair Display, sans-serif;
  padding-bottom: 100px;
}
.btn {
  border-radius: 0;
}
h3.main-title, h4.file-download-title {
  margin: 20px;
  margin-left: auto;
  text-transform: uppercase;
  font-family: Oswald;
}
.info-button {
  text-transform: lowercase;
  font-size: 15px;
  vertical-align: text-bottom;
  display: inline-block;
  float: right;
  padding: 7px 15px;
}
.info-button a {
  border-radius: 50%;
  padding: inherit;
}
small {
  display: block;
  margin: 20px 0;
  text-transform: capitalize;
  @extend body;
}
.table>tbody>tr>td {
  border: none;
}
label.impex-header, label.table-header {
  display: block;
  cursor: text;
  border-bottom: 1px solid #a9a9a9;
  text-align: center;
  font-weight: lighter;
  color: #777;
  padding: 5px;
}
label.impex-header {
  text-align: left;
  font-weight: lighter;
  color: #777;
  margin-bottom: 20px;
}
label:focus {
  outline: none;
}
.header_form {
  display: inline-block;
}
.header_form .radio {
  margin-right: 20px;
}
.header_form .radio input[type=radio] {
  margin-right: 5px;
}
.header_form input {
  border-radius: 0;
}
.addColumn {
  display: inline-block;
  float: right;
}
.main-table-container {
  max-width: 100%;
  overflow-x: scroll;
}
#main-table tbody tr {
  counter-increment: rowNumber;
}
#main-table tbody tr td:first-child::before {
  content: counter(rowNumber);
  display: inline-block;
  min-width: 30px;
  padding: 0 .5em;
  margin-right: 10px;
  color: #333;
}
tfoot tr td .removeColumn {
  /*max-width: 35px;*/
  margin: 0 auto;
}
.addRow-container {
  margin-top: 20px;
}
.file-download-container .file-name-input {
  padding: 5px 12px;
  min-width: 250px;
  vertical-align: middle;
}
.impex-output {
  position: relative;
  background: #e6e6e6;
  overflow-y: hidden;
}
.impex-output .impex-output-body {
  padding: 30px 15px;
  overflow-y: scroll;
  counter-reset: line;
}
.impex-output .impex-output-body .impex-output-header {
  margin-bottom: 20px;
}
.impex-output .clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
#impex-output-body div:not(.impex-output-header):before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  min-width: 30px;
  border-right: 1px solid #a9a9a9;
  padding: 0 .5em;
  margin-right: 10px;
  color: #333;
}
.output-collapsed {
  height: 55px;
  overflow-y: hidden;
}
.body-collapsed {
    height: 0;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  background: #0089CD;
  color: #fff;
  border-top: 3px solid #0089CD;
}
footer a, footer a:hover, footer a:active, footer a:visited {
  color: #D7DF00;
  text-decoration: none;
}
footer a span.glyphicon {
  font-size: 10px;
  display: none;
  vertical-align: super;
}
footer a:hover span {
  display: inherit;
}
footer .footer-right {
  border-bottom: 1px dotted #fff;
  cursor: pointer;
}

/* Footer Popover*/
#popoverTitle, #popoverContent {
  display: none;
}
.popover-title, .popover-content {
  cursor: auto;
  color: #000;
}
.popover-content a {
  color: #000 !important;
}

/* Modal */
.modal-content {
  border-radius: 0;
}
li.help-modal-list-item {
  margin-bottom: 10px;
}
li.help-modal-type-list-item,
li.help-modal-table-list-item,
li.help-modal-buttons-list {
  margin: 5px auto;
}

/* Accordion */
.accordion-trigger {
  background: #0089CD;
  margin: 0 0 20px 0;
  padding: 10px;
  font-family: Oswald;
  color: #fff;
  cursor: pointer;
}
.accordion-content {
  display: none;
  /*transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;*/
  margin: 20px 0;
  padding: 0 20px;
}
.accordion-content.active {
  display: inherit;
  /*transform: scaleY(1);*/
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
.slideOutUp {
  animation-name: slideOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}
